@import '../variables';


.fullpizza{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__block{
        display: flex;
        flex-direction: column;
        gap: 5px;
        span{
            font-size: 26px;
            font-weight: 100;
        }
        &-title{
            font-size: 50px;
            margin-bottom: 15px;
            color: black;
        }
        &-text{
            color: black;
            font-size: 30px;
            font-weight: bold;
        }
    }
}