.root{
    position: relative;
    @media(max-width: 1450px) {
        left: 0;
        display: flex;
    }
    margin: 0 15px 0 15px;
}
.input{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 12px 20px;
    padding-left: 40px;
    width: 450px;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
    &:focus{
        border: 1px solid rgba(0,0,0,0.2);
    }
    @media (max-width: 1160px){
        width: 350px;
    }
    @media (max-width: 450px){
        width: 300px;
    }
}

.icon{
    width: 24px;
    height: 24px;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    top: 12px;
}

.close{
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}